@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --radius: 1rem;

    --background: 50 70% 97%;
    --foreground: 0 0% 11%;

    --card: 50 70% 97%;
    --card-foreground: 0 0% 11%;

    --popover: 50 70% 97%;
    --popover-foreground: 0 0% 11%;

    --primary: 345 77% 28%;
    --primary-foreground: 50 70% 97%;

    --secondary: 345 77% 20%;
    --secondary-foreground: 50 70% 97%;

    --muted: 42, 23%, 88%;
    --muted-foreground: 0, 0%, 16%;

    --accent: 39 26% 90%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 50 70% 97%;

    --border: 50, 30%, 85%;
    --input: 50 70% 97%;
    --ring: 345 60% 38%;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 11%;
    --foreground: 50 70% 97%;

    --card: 0 0% 11%;
    --card-foreground: 50 70% 97%;

    --popover: 0 0% 11%;
    --popover-foreground: 50 70% 97%;

    --primary: 345 77% 28%;
    --primary-foreground: 50 70% 97%;

    --secondary: 345 77% 20%;
    --secondary-foreground: 50 70% 97%;

    --muted: 0, 0%, 16%;
    --muted-foreground: 42, 23%, 88%;

    --accent: 0 0% 20%;
    --accent-foreground: 39 26% 90%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 50 70% 97%;

    --border: 0 0% 18%;
    --input: 0 0% 11%;
    --ring: 345 60% 38%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

body {
  @apply font-serif;
}
